/* components/Subheader.module.css */
.subheader {
  width: 1440px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  background-color: #f8f8f8;
  padding: 0 20px;
}

.backButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #767676;
  font-size: 16px;
  cursor: pointer;
}

.backButton .arrow {
  margin-right: 8px;
  font-size: 20px;
}

.editButton {
  background-color: #a21000; /* Rojo para el botón del link */
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.875rem;
  cursor: pointer;
}

.editButton:hover {
  background-color: #960000; /* Rojo más oscuro para el hover */
}

/* Responsividad */
@media (max-width: 768px) {
  .subheader {
    width: 100%;
    height: 50px;
  }

  .backButton {
    font-size: 14px;
  }

  .backButton .arrow {
    font-size: 18px;
  }
}
